.hero-section {
    background-color: #000000;
    color: #FFFFFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .hero-subtitle {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  
  .btn-primary {
    background-color: #00CCFF;
    padding: 15px 30px;
    border-radius: 50px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #00A3CC;
  }
  